
.navpic {
    border-radius: 15px;
}
body {
    background-color:#3F3F3F;
   
}
.row1 {
    padding: 50px;
}
.header11 {
    opacity: 0.7;
    background-color: black;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.selectedCar {
    border-bottom-right-radius: 50px;
}
.selectedCarInfo {
    padding: 80px;
    color:white;
    font-style: oblique;
    font-size: 15px;
}

.lista {
    background-color: black;
    border: 1px solid black;
    opacity: 0.9;

}